@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body
{
	
	margin: 0px;
	padding: 0px;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	font-size:19px;
}

.title
{
	  width:0%;
	  height:0%;
	  background:#ddd;
	  font-family: 'Montserrat', sans-serif;
	  font-size:99px;
	  text-align:center;
}
#text2{
	
	font-size:50px;
	color:#fff;
	font-weight:bold;
	padding-left:80px;
}
#back1
{
	background-color:rgba(0.5, 0.5, 0.5, 0.7);
	backdrop-filter:drop-shadow(5px);
	padding-bottom:50px;
	padding-top:50px;
}
.pos 
{	
	position:absolute;
}
.navbar
{
	background:white;
	width:100%!important;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
html
{
	scroll-behaviour:smooth;
}
.navbar-brand
{
	font-family:Brush Script MT;
}

<!-- about section strated -->
		

				.header {
				  max-width: 1200px;
				  margin:  auto;
				  padding: 1rem;
				  display: flex;
				  align-items: center;
				  justify-content: center;
				  height: calc(100vh - 4rem);
				}

				.title-wrapper {
				  display: grid;
				  align-items: center;
				  justify-content: center;
				  transform: skew(0, -1deg);
				}

				.top-title {
				  order: 1;
				  text-align: center;
				  display: block;
				  color: #fff;
				  font-size: clamp(1rem, 4vw, 1.5rem);
				  margin-bottom: 1rem;
				  padding-right: 2rem;
				}

				.bottom-title {
				  order: 3;
				  text-align: center;
				  display: block;
				  color: #fff;
				  font-size: clamp(1rem, 4vw, 1.5rem);
				  margin-top: 2rem;
				  padding-left: 2rem;
				}

				.sweet-title {
				  order: 2;
				  color: #fde9ff;
				  font-weight: 900;
				  text-transform: upper	case;
				  font-size: clamp(3rem, 10vw, 6rem);
				  line-height: 0.75em;
				  text-align: center;
				  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
					3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
					6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
					6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
					9px 7px 1px #4af7ff;

				  span {
					display: block;
					position: relative;

					&:before {
					  content: attr(data-text);
					  position: absolute;
					  text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
						-2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
					  z-index: 1;
					}

					&:nth-child(1) {
					  padding-right: 2.25rem;
					}

					&:nth-child(2) {
					  padding-left: 2.25rem;
					}
				  }
				}
			
.sweet:hover	
{
	
}

					
			/* <!-- about section ended--> */

	/* skill section  */
	
	/* circle progress bar */
	.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 1s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
.progress.lime .progress-bar{
    border-color: #FDFF00
;
}
.progress.lime .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
.progress.flamepink .progress-bar{
    border-color: #FC74FD;
}
.progress.flamepink .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(135deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
	/* circle progress bar end*/
	
	/* hobbies section started */
.caraouselsize
{
	height:500px!important;
	width:655px!important;
}	
	
/* hobbies section ended */


/* gallery section */
.ho
{
	filter:grayscale(0.6);
	transition:0.4s;
	transition-timing-function: ease-in;
}
.ho:hover
{
		transform:scale(1.1);
		/* z-index:2; */
		filter:grayscale(0);
}
/* gallery section end*/

/* contact section	 */
.contact
{
		height:500px!important;
		
}
/* contact section ended	 */

/* end section */

.icon
{
	border-radius:40px;
	height:40px;
	width:40px;
}	
     